@import url('base.css');

/* -------------------------------------------------------------------------------
                                    - HEADER -
------------------------------------------------------------------------------- */
header {
    display: flex; 
    width: calc(100% - 36px - 36px);
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 32px;
    align-items: center;
    padding: 0;
}


header .logo {
    position: relative;
    display: flex;
    z-index: 15 !important;
}
header .logo:hover{
    cursor: pointer;
}

header .logo #logo-svg{
    height: 38px;
    width: auto;
}

header #nombre {
    z-index: 15;
    font-family: Arial;
    color: var(--negro-3);
    font-family: Arial Narrow;
    font-size: 20px;
    font-weight: 700;
    padding-left: 8px;
    margin-right: 20px;
    text-decoration: none;
    transition: 0.3s;
}

header .buscador {
    z-index: 1;
    border-radius: 5px;
    border: 2px solid var(--negro-3);
    height: 33px;
    max-width: 380px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .buscador input {
    color: var(--negro-3);
    background-color: transparent;
    font-family: Arial Narrow;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.12px;
    width: 80%;
    border: none;
    outline: none;
    margin-left: 8px;
    margin-top: 2px;
}

header .buscador input::placeholder {
    color: var(--negro-3);
    letter-spacing: 1px;
    font-weight: 600;
}

header .buscador img {
    height: 18px;
    width: auto;
}

header .buscador img[alt="lupa"] {
    margin-left: 16px;
}
/*header .buscador img[alt="lupa"]:hover{
    transform: scale(1.2);
}*/

header .buscador img[alt="scan"] {
    height: 19px;
    width: auto;
    transition: 0.3s;
}
header .buscador img[alt="scan"]:hover{
    transform: scale(1.2);
}

header .buscador a{
    display: flex;
    align-items: center;
    padding-right: 16px;
}

header .opciones {
    z-index: 1;
    margin-bottom: auto;
    margin-top: 5px;
    display: flex;
}

header .opciones a {
    text-decoration: none;
    color: var(--negro-3);
    font-family: Arial Narrow;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.8px;
    margin-left: 20px;
    letter-spacing: 1px;
    border-bottom: 1px solid transparent;
}
header .opciones a::after {
    display: block;
    height: 0.8px;
    width: 0%;
    content: '';
    background-color: var(--negro-3);
    transition: width 0.2s;
}
header .opciones a:hover::after {
    width: 100%;
    left: 0;
}