@import url('base.css');

body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* -------------------------------------------------------------------------------
                                    - HEADER -
------------------------------------------------------------------------------- */
header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex; 
    width: calc(100% - 36px - 36px);
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 32px;
    align-items: center;
}


header .logo {
    position: relative;
    display: flex;
    z-index: 15 !important;
}
header .logo:hover{
    cursor: pointer;
}

header #nombre {
    z-index: 15;
    font-family: Arial;
    color: var(--blanco-1);
    font-family: Arial Narrow;
    font-size: 40px;
    font-weight: 700;
    padding-left: 15px;
    margin-right: 20px;
    text-decoration: none;
    transition: 0.3s;
}

header .buscador {
    z-index: 1;
    border-radius: 5px;
    border: 2px solid var(--blanco-1);
    height: 33px;
    max-width: 380px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .buscador input {
    color: var(--blanco-1);
    background-color: transparent;
    font-family: Arial Narrow;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.12px;
    width: 80%;
    border: none;
    outline: none;
    margin-left: 8px;
    margin-top: 2px;
}

header .buscador input::placeholder {
    color: var(--blanco-1);
    letter-spacing: 1px;
    font-weight: 600;
}

header .buscador img {
    height: 18px;
    width: auto;
}

header .buscador img[alt="lupa"] {
    margin-left: 16px;
}
/*header .buscador img[alt="lupa"]:hover{
    transform: scale(1.2);
}*/

header .buscador img[alt="scan"] {

    height: 19px;
    width: auto;
    transition: 0.3s;
}
header .buscador img[alt="scan"]:hover{
    transform: scale(1.2);
}

header .buscador a{
    display: flex;
    align-items: center;
    padding-right: 16px;
}
header .opciones {
    z-index: 1;
    margin-bottom: auto;
    margin-top: 5px;
    display: flex;
}

header .opciones a {
    text-decoration: none;
    color: var(--blanco-1);
    font-family: Arial Narrow;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.8px;
    margin-left: 20px;
    letter-spacing: 1px;
    border-bottom: 1px solid transparent;
}
header .opciones a::after {
    display: block;
    height: 0.8px;
    width: 0%;
    content: '';
    background-color: var(--blanco-1);
    transition: width 0.2s;
}
header .opciones a:hover::after {
    width: 100%;
    left: 0;
}

#fondo {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#fondo .slide {
    position: absolute;
    z-index: -13;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease-in-out;
    transform: translateY(100%);
}

#fondo .slide.actual {
    z-index: -10;
    transform: translateY(0);
}
#fondo .slide.anterior {
    z-index: -12;
    transform: translateY(0);
}

#fondo .imagen {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}

#menu {
    position: absolute;
    top: 150px;
    z-index: 15;
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    gap: 16px;
}

#menu a {
    text-decoration: none;
    color: var(--blanco-1);
    font-family: Arial Narrow;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1px;
    transition: 0.3s;
}
#menu a:hover, #menu div a:hover{
    color: #ff2d00;
}

#menu .hombremujer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu .hombremujer a{
    color: var(--blanco-1);
    font-family: Arial Narrow;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.7px;
    letter-spacing: 1px;
}

#menu .hombremujer div{
    width: 2px;
    height: 20px;
    background-color: var(--blanco-1);
    margin-left: 8px;
    margin-right: 8px;
    transition: 0.3s;
}

#menu .espacio{
    height: 8px;
}

#fondo-menu{
    position: absolute;
    top: 0;
    background-color: var(--blanco-1);
    width: 0%;
    height: 100vh;
    z-index: 10;
    transition: 0.3s;
}

#fondo-oscuro{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    transition: width 0.3s;
    z-index: 0;
    transition: 0.8s;
    opacity: 0;
}